.cardDiv{
  background-color: #6700ff;
  border: 2px solid #b700ff;
  border-radius: 5%;
  width: 240px;
  height: 300px;
  margin: 1px 0 2px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.titleCard{
  font-family: 'titleFont';
  font-size: 20px;
  color: white;
}

.cardImg {
  align-content: center;
    max-width: 240px;
    max-height: 140px;
}


.div2{
    display: flex;
    justify-content: space-between;
}

.genreText {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  padding-left: 13px;
  justify-content: start;
}

.divRating{
  margin-right: 13px;
  padding: 1.5px;
  margin-top: 11px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10%;
  background-color: #c84bfa;
  height: 25px;
}

@font-face {
  font-family: 'titleFont';
  src: url('../../Fonts/VCR_OSD_MONO_1.001.TTF');
}
