.mainCreate{
    height: 100vh;
    background-image: url('../../Assets/home-background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.create{
    background-color: #280783;
    border: 2px solid #f500ff;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    width: fit-content;

}



.title{
    color: rgb(235, 208, 243);
    font-family: 'VideogameTitleFont';
    font-size: 35px;
}

.data {
    display: flex;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}

.column1 {
    padding-right: 20px;
}

label {
    color: rgb(235, 208, 243);
    font-size: 18px;
}

.input {
    background-color: #f0def5;
    border-color: rgb(146, 74, 212);
    border-radius: 8%;

}

.inputDescription {
    height: 85px;
    width: 190px;
    background-color: #f0def5;
    border-color: rgb(146, 74, 212);
    font-size: 15px;
}

.selectGenres {
    background-color: #f0def5;
    border-color: rgb(146, 74, 212);
    border-radius: 8%;
    font-size: 13px;
    width: 190px;
}

.column2 {
    padding-right: 20px;
}


.createGameBtn {
    color: rgb(240, 235, 245);
    background-color: #8a00ff;
    border-color: rgb(240, 235, 245);
    border-width: 2px;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'text';
    font-size: 22px;
}

.createGameBtn:hover {
    color: #f0def5;
    background-color: #f500ff;
    border-color: rgb(146, 74, 212);
    font-size: 20px;
}


.deleteBtns{
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    margin: 4px;
}

@font-face {
    font-family: 'VideogameTitleFont';
    src: url('../../Fonts/UPHEAVTT.TTF');
  }

@font-face {
    font-family: 'text';
    src: url('../../Fonts/VCR_OSD_MONO_1.001.TTF')
}
