.mainHomeContainer {
    background-image: url('../../Assets/home-img.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.mainNavFiltersContainer {
    background-color: #b700ff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-around;
}

.vgCards {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    margin-left: 130px;
    margin-bottom: 10px;
    margin-top: 30px;

}

.vgInfoHome{
    font-family:'VideogameInformationHome';
    font-size: 35px;
    color: white;
    text-shadow: 3px 2px #b700ff;
    box-shadow:0 0 4px #9027f1, 0 0 15px #9027f1, 0 0 20px #9027f1, 0 0 40px #9027f1, 0 0 60px #0066ff, 0 0 10px #177eed, 0 0 98px #8cf5ff75;
}

.homeBtns{
    background-color: #ffdd00;
    border-color: white;
    color: #7e28ff;
    border-width: 2px;
    font-family: 'btnTextFont';
    font-size: 18px;
    cursor: pointer;
}

.homeBtns:hover {
    background-color: white;
    color: #9f04dc;
    font-size: 16px;
}

@font-face {
    font-family: 'VideogameInformationHome';
    src: url('../../Fonts/04B_30_.TTF');
}

@font-face {
    font-family: 'btnTextFont';
    src: url('../../Fonts/VCR_OSD_MONO_1.001.TTF');
  }
