.mainHomeContainer {
    background-image: url('../../Assets/home-img.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.mainNavFiltersContainer {
    background-color: #b700ff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-around;

}

.vgCards {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-left: 90px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.vgInfoHome{
    font-family:'VideogameInformationHome';
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px #b700ff;
    box-shadow:0 0 5px #9027f1, 0 0 15px #9027f1, 0 0 20px #9027f1, 0 0 40px #9027f1, 0 0 60px #0066ff, 0 0 10px #177eed, 0 0 98px #8cf5ff75;
}

@font-face {
    font-family: 'VideogameInformationHome';
    src: url('../../Fonts/04B_30_.TTF');
}

/* .btnExit{
    background-color: white;
    border-color: #f500ff;
    color: #3c0393;
    border-width: 2px;

    cursor: pointer;
} */