.divLanding {
  margin: 0;
  background-image: url('../../Assets/landing-main-img.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.text {
    
    font-family: 'VideogameTitleFont';
    margin: 0 auto;
    position:fixed;
    font-size: 70px;
    width:1%;
    top:70%;
    right:35%;
    color: white;
  }

.subtitleText {
  font-family: 'SubtitleFont';
  margin: 0 auto;
  position:fixed;
  font-size: 30px;
  width:1%;
  top:82%;
  right:15%;
  color: white;
}

  .btnLanding {
    font-family: 'BoldBtnFont';
    font-size: 30px;
    color: rgb(240, 235, 245);
    background-color: #f500ff;
    border-color: rgb(240, 235, 245);
    border-radius: 5%;
    cursor: pointer;
    padding: 6px;
    margin-left: 35px;
    margin-top: 80px;
  } 
  
  .btnLanding:hover {
    background-color: #6700ff;
    font-size: 33px;
  }


  @font-face {
    font-family: 'VideogameTitleFont';
    src: url('../../Fonts/BILLIONDREAMS_PERSONAL.TTF');
  }
  
  @font-face {
    font-family: 'BoldBtnFont';
    src: url('../../Fonts/UPHEAVTT.TTF');
  }

  @font-face {
    font-family: 'SubtitleFont';
    src: url('../../Fonts/VCR_OSD_MONO_1.001.TTF');
  }

