.Pagination {
    display: flex,
}

.btns{
    font-size: 21px;
    font-weight: bold;
    color: #9f04dc;
    border-color: #b700ff;
    background-color: white;
    border-width: 2px;
    border-radius: 10%;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 18px;
    font-family: 'btnTextFont';
}

.btns:hover {
    font-size: 18px;
    background-color: #00dfff;
}

@font-face {
    font-family: 'btnTextFont';
    src: url('../../Fonts/VCR_OSD_MONO_1.001.TTF');
  }